.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.oops {
    font-weight: 700;
    font-size: 64px;
    color: var(--color-primary);

    @media (max-width: 1280px) {
        font-size: 48px;
    }
}

.error {
    font-weight: 700;
    font-size: 24px;

    @media (max-width: 1280px) {
        font-size: 20px;
    }
}
