.activity {
    background-color: white;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    @media (max-width: 1280px) {
        width: 52px;
        height: 52px;
    }
}

.icon {
    height: 32px;

    @media (max-width: 1280px) {
        height: 26px;
    }
}
