.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1280px) {
        gap: 20px;
    }
}

.secondContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1280px) {
        gap: 20px;
    }
}

.thirdContainer {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 1280px) {
        gap: 20px;
    }
}
