@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

:root {
    --color-primary: #ff0101;
    --color-dkprimary: #e60000;
    --color-ltgray: #fbfbfb;
    --color-gray: #74798c;
    --color-dkgray: #282d30;
    --color-black: #020203;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 91px;
    margin-left: 117px;
    padding: 68px 90px 68px 107px;

    @media (max-width: 1400px) {
        padding: 54px 42px 54px 54px;
    }

    @media (max-width: 1280px) {
        margin-top: 72px;
        margin-left: 80px;
        padding: 48px 36px 48px 48px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
