.greetings {
    margin-bottom: 77px;

    h1 {
        font-size: 48px;
        line-height: 24px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 41px;

        span {
            color: var(--color-primary);
            font-weight: 700;
        }

        @media (max-width: 1280px) {
            font-size: 42px;
            margin-bottom: 30px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;

        @media (max-width: 1280px) {
            font-size: 16px;
        }
    }

    @media (max-width: 1280px) {
        margin-bottom: 50px;
    }
}
